@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h2>hi there from neer!</h2>
<p>Use this area to provide additional information.</p>
